/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* src/theme/variables.css */
:root {
  /** primary **/
  --ion-color-primary: var(--brand-primary);
  --ion-color-primary-rgb: 11, 83, 129;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a4971;
  --ion-color-primary-tint: #23648e;

  /** secondary **/
  --ion-color-secondary: var(--brand-secondary);
  --ion-color-secondary-rgb: 225, 113, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c66300;
  --ion-color-secondary-tint: #e47f1a;

  /** background **/
  --ion-background-color: var(--brand-bg-primary);
  --ion-background-color-rgb: 255,255,255;
  --ion-text-color: var(--brand-text-primary);
  --ion-text-color-rgb: 34,34,34;
  --ion-border-color: var(--brand-text-tertiary);
}

/* Dark mode */
.ion-color-dark {
  --ion-background-color: var(--brand-bg-primary);
  --ion-background-color-rgb: 34,34,34;
  --ion-text-color: var(--brand-text-primary);
  --ion-text-color-rgb: 255,255,255;
  --ion-border-color: var(--brand-text-tertiary);

  --ion-color-step-50: #232323;
  --ion-color-step-100: #2e2e2e;
  --ion-color-step-150: #3a3a3a;
  --ion-color-step-200: #454545;
  --ion-color-step-250: #515151;
  --ion-color-step-300: #5d5d5d;
  --ion-color-step-350: #686868;
  --ion-color-step-400: #747474;
  --ion-color-step-450: #7f7f7f;
  --ion-color-step-500: #8b8b8b;
  --ion-color-step-550: #979797;
  --ion-color-step-600: #a2a2a2;
  --ion-color-step-650: #aeaeae;
  --ion-color-step-700: #b9b9b9;
  --ion-color-step-750: #c5c5c5;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dcdcdc;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f3f3f3;
}