/*? === === === FONT FAMILY === === === ?*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
  font-family: 
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}


/*? === === === CUSTOM STYLES === === === ?*/
/* Scrollbar styles */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin-block: .25em;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: none;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(230, 230, 230, .75);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, .75);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(190, 190, 190, .85);
}

.scrollbar::-webkit-scrollbar {
  background-color: #F9FAFB;
  width: 1.025em;
}


/* Scrollbar styles (dark mode) */
html.dark .scrollbar::-webkit-scrollbar-track {
  background: #171717;
}

html.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #0F0F0F;
}
html.dark .scrollbar::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

html.dark .scrollbar::-webkit-scrollbar {
  background-color: #171717;
}

/* Firefox scrollbar styles */
.scrollbar {
  scrollbar-width: 1.025em;
  scrollbar-color: #C8C8C8 #F9FAFB;
}
html.dark .scrollbar {
  scrollbar-color: #0F0F0F #171717;
}