@import "tailwindcss";
/* @import "tw-animate-css"; */


/*? === === === IONIC STYLES === === === ?*/
:root {
  --ion-font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}



/*? === === === BASE STYLES === === === ?*/
:root, html, body {
  @apply w-full h-full scroll-smooth;
}

body {
  @apply flex flex-col bg-brand-bg-primary dark:bg-brand-text-primary;
}


/*? === === === CUSTOM STYLES === === === ?*/
/* Scrollbar styles */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin-block: .25em;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: none;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(230, 230, 230, .75);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, .75);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(190, 190, 190, .85);
}

.scrollbar::-webkit-scrollbar {
  background-color: #F9FAFB;
  width: 1.025em;
}


/* Scrollbar styles (dark mode) */
html.dark .scrollbar::-webkit-scrollbar-track {
  background: #171717;
}

html.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #0F0F0F;
}
html.dark .scrollbar::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

html.dark .scrollbar::-webkit-scrollbar {
  background-color: #171717;
}

/* Firefox scrollbar styles */
.scrollbar {
  scrollbar-width: 1.025em;
  scrollbar-color: #C8C8C8 #F9FAFB;
}
html.dark .scrollbar {
  scrollbar-color: #0F0F0F #171717;
}



/*? === === === TAILWIND CONFIG === === === ?*/
@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* == == Custom brand colors == == */
  --color-brand-primary: var(--brand-primary);
  --color-brand-primary-hover: var(--brand-primary-hover);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-secondary-hover: var(--brand-secondary-hover);
  --color-brand-success: var(--brand-success);
  --color-brand-info: var(--brand-info);
  --color-brand-warning: var(--brand-warning);
  --color-brand-error: var(--brand-error);
  --color-brand-text-primary: var(--brand-text-primary);
  --color-brand-text-secondary: var(--brand-text-secondary);
  --color-brand-text-tertiary: var(--brand-text-tertiary);
  --color-brand-text-quaternary: var(--brand-text-quaternary);
  --color-brand-bg-primary: var(--brand-bg-primary);
  --color-brand-bg-secondary: var(--brand-bg-secondary);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /** == == Custom brand colors == == **/
  /* Identity Colors */
  --brand-primary: #0B5381;
  --brand-primary-hover: #0E649E;
  --brand-secondary: #E17100;
  --brand-secondary-hover: #D68400;

  /* Background Colors */
  --brand-bg-primary: #FFFFFF;
  --brand-bg-secondary: #F9FAFB;

  /* Text Colors */
  --brand-text-primary: #222222;
  --brand-text-secondary: #5E5E5E;
  --brand-text-tertiary: #EFEFEF;
  --brand-text-quaternary: #4b5563;

  /* Feedback Colors */
  --brand-success: #2ECC71;
  --brand-info: #4A90E2;
  --brand-warning: #FFC107;
  --brand-error: #E74C3C;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /** == == Custom brand colors == == **/
  /* Identity Colors */
  --brand-primary: #0B5381;
  --brand-primary-hover: #0E649E;
  --brand-secondary: #E17100;
  --brand-secondary-hover: #D68400;

  /* Background Colors */
  --brand-bg-primary: #222222;
  --brand-bg-secondary: #2A2A2A;

  /* Text Colors */
  --brand-text-primary: #FFFFFF;
  --brand-text-secondary: #CCCCCC;
  --brand-text-tertiary: #888888;
  --brand-text-quaternary: #AAAAAA;

  /* Feedback Colors */
  --brand-success: #2ECC71;
  --brand-info: #4A90E2;
  --brand-warning: #FFC107;
  --brand-error: #E74C3C;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
